{% extends 'base.html.twig' %}
{% block body %}
    <div class="row" style="background-color: #FFF">
        <div class="col-md-12"><br><br>
            <h1 class="center sizeTitle"><strong class="red">Où nous retrouver ?</strong></h1><br><br>
        </div>
        <div class="col-md-6">
            <h2 class="sizeTitle2" style="margin-left: 6%;"><strong class="red">La boucherie</strong></h2><br>
            <div class="sizeText2" style="margin-left:8%; padding-right: 5%;">
                Nous avons une boucherie à Levallois-Perret :<br>
                3, Place du Maréchal de Lattre de Tassigny, Levallois-Perret 92300
            </div><br><br>

            <h2 class="sizeTitle2" style="margin-left: 6%;"><strong class="red">Les marchés</strong></h2><br>
            <div class="sizeText2" style="margin-left:8%; padding-right: 5%;">
                Nous sommes également sur les marchés suivants :<br>
                Place d'Asnière : le mercredi et le samedi <br>
                Blanc-Mesnil - Centre : le jeudi et le dimanche <br>
                Colombes - Quatres chemins : le mardi, vendredi et dimanche.
            </div>
        </div>

        <div class="col-md-6">
            <div style="overflow:hidden;width: 100%;height: 100%;">
                <iframe width="800" height="300" src="https://maps.google.com/maps?width=500&amp;height=300&amp;hl=fr&amp;q=3%2C%20Place%20du%20Mar%C3%A9chal%20de%20Lattre%20de%20Tassigny%2C%20Levallois-Perret+(Boucherie%20Sam%20Viandes)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <div class="sizeText2 center">
                    <h2 class="sizeTitle2" style="margin-top: 4%;"><strong class="red">Contact</strong></h2>
                    <strong><em>E-mail : </em> </strong> samviandes@yahoo.fr <br>
                    <strong><em>Téléphone : </em> </strong> 06 26 18 36 88
                </div>

            </div>
        </div>
    </div>
    </div><br><br>
{% endblock %}